{%- from "partials/icons.njk" import icon -%}
<ul class="guarantees{% if guaranteesClass %} {{ guaranteesClass }}{% endif %}">
  {%- for g in site.guarantees %}
  <li>{{ icon(g.icon) }}<span>{{ g.text }}</span></li>
  {%- endfor %}
</ul>
